body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f0fafa;
    margin: 0;
    padding: 20px;
    padding-top: 90px;
}
h1 {
    color: #333;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
}

.button:hover {
  box-shadow: .5px .5px 150px #252525;
}

.type1::after {
  content: "Thanks";
  height: 50px;
  width: 150px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Hover Me";
  height: 50px;
  width: 150px;
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}
#menu-btn {
    background-color: #303030;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
#menu-btn:hover {
    background-color: #444;
}
#menu-list {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #303030;
    transition: left 0.3s ease;
    z-index: 999;
    padding: 20px;
    overflow-y: auto;
}
#menu-list a, #menu-list button {
    display: block;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    transition: color 0.3s ease;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: left;
}
#menu-list a:hover, #menu-list button:hover {
    color: #ccc;
}
.search-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchInput {
    border-radius: 30px;
    height: 35px;
    width: 220px;
    font-size: 18px;
    padding: 0 10px;
}
#searchBtn {
    border-radius: 30px;
    height: 37px;
    width: 80px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
